/* =============
    Base
============= */

// body{
//     background-color: #15f3dd;
// }

.gs-dev-tools{
    z-index: 7000;
}

.hide{
    display: none;
}


figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {    
        list-style: none;
    }
}

a{
    text-decoration: none;
}
