#clipPath-container{

    display: grid;
    grid-template-columns: auto 70vw auto;
    grid-template-areas: ". clipPath .";
    height: 100vh;

    >div{
        grid-area: clipPath;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 100%;
        }

    }

}